@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500&display=swap');
body{
    font-family:'Roboto', sans-serif;
}
/* font family start */
.bebas-font {
    font-family: 'Bebas Neue', cursive;
}
.roboto-font{
    font-family:'Roboto', sans-serif;
}
/* font familly end  */




/* background start  */
.bg-yellow-light{
    background: #FFF9F4;
}
.bg-white-light{
    background: rgb(236, 236, 236);
}
/* background end  */





/* font size start  */
.fs-nike{
    font-size: 5rem;;
}
.fs-custom{
    font-size: 3.5rem;
}
/* font size end  */



/* height & width start */
.height-width{
    height:39px; 
    width:290px;
}
.width-custom{
    width: 351px;
}
.height-custom{
    height: 334px;
}
/* height & width end  */




/* border radious start */
.round{
    border-radius: 20px;
    padding: 1rem;
}
/* border radious end  */




/* media query start  */
@media only screen and (max-width: 600px) {
    .hhww{
        height:27px; 
        width:190px;
    }
}
/* media query end  */








/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; */